[global]                

runtime=30 

filename=DISKNAME

size=128m               
io_size=10g

[rand-rw]               
ioengine=libaio         
iodepth=32               
rw=randwrite            
bs=4k 
direct=1   
